.line2 {
  width: 600px;
  height: 3px;
  background-color: #f1f1f1;
  position: absolute;
  transform: rotate(90deg);
  right: 50px;
  top: 350px;
}
.line3 {
  width: 600px;
  height: 3px;
  background-color: #f1f1f1;
  position: absolute;
  transform: rotate(45deg);
  right: 50px;
  top: 350px;
}
.line4 {
  width: 600px;
  height: 3px;
  background-color: #f1f1f1;
  position: absolute;
  transform: rotate(135deg);
  right: 50px;
  top: 350px;
}
.line1 {
  width: 600px;
  height: 3px;
  background-color: #f1f1f1;
  position: absolute;
  left: 50px;
  top: 350px;
}
