/* general */
body {
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  background-color: #3b3f45;
  /* min-height: 100vh; */
  color: #ffffff;
  margin: 0;
}

ul {
  list-style: none;
}

.header {
  color: #ff8984;
  background-color: #4a4f56;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}
/* list */
.list {
  font-size: 18px;
  max-width: 530px;
  margin: 0 auto;
  padding: 0;
}

.list-item {
  background-color: #88839e;
}

.list-item:nth-child(2n) {
  background-color: #7a7593;
}

.list-label {
  display: block;
  padding: 10px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

/* .list-label {
  background-color: #9B96AC;
  transition: background-color 0.35s ease-in;
} */

.list-label:hover {
  border-color: #ffffff;
  background-color: #625e77;
}
.item > span {
  font-size: 11px;
}

.list-checkbox:checked + span {
  text-decoration: line-through;
}

/* bottom */
#not-item {
  color: #ff8984;
  font-size: 18px;
  background-color: #4a4f56;
  text-align: center;
  padding: 11px 12px 13px;
  margin-top: 45px;
}

#not-item::after {
  content: " :)";
}

/* navigation */
a:link {
  color: #ff8984;
}
a:visited {
  color: #00ff00;
}

.button {
  color: #ff8984;
  font-size: 18px;
  background-color: #4a4f56;
  text-align: center;
  padding: 11px 12px 13px;
  margin-top: 45px;
  width: 530px;
  margin: 45px auto;
  display: block;
}
