@import "./normalize";
@import "./variables.scss";
@import "./main.scss";

.container {
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--f-base);
  color: var(--c-base);
}
.header {
  text-align: center;
  text-transform: uppercase;
  max-width: 430px;
  border-bottom: 1px solid #ffcc00;
  margin-bottom: 40px;
  position: relative;
}
h1 {
  font-family: var(--f-second);
  font-size: 60px;
  color: #ffcc00;
  line-height: 66px;
  padding-bottom: 40px;
}

h4 {
  color: #898f8f;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
}

.bonfire-sharp {
  width: 20px;
  position: absolute;
  background-color: white;
  left: calc(50% - 10px);
  top: 130px;
}

.content {
  max-width: 1030px;
  // padding-left: 15px;
  // padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
// frame
.frame {
  // width: 50%;
  position: relative;
  max-width: 430px;
  // align-items: center;
  // max-height: 430px;
  margin: 70px 85px 70px 15px;
}
.corner {
  width: 100px;
  height: 100px;
}
.top-left {
  top: 0;
  left: 0;
  border-left: 1px solid #ffcc00;
  border-top: 1px solid #ffcc00;
  position: absolute;
}
.top-right {
  top: 0;
  right: 0;
  border-top: 1px solid #ffcc00;
  border-right: 1px solid #ffcc00;
  position: absolute;
}
.bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #ffcc00;
  border-right: 1px solid #ffcc00;
  position: absolute;
}
.bottom-left {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ffcc00;
  border-left: 1px solid #ffcc00;
  position: absolute;
}
.photo {
  display: inline-block;
  width: 400px;
  padding: 15px;
}

// right block
.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #ffcc00;
  padding: 70px 0 70px 85px;
}
h2 {
  font-size: 36px;
  font-family: var(--f-second);
  // padding-bottom: 30px;
}

.position {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Raleway";
  color: #666666;
  // padding-bottom: 30px;
}
.info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.info-header-line {
  width: 100px;
  border-bottom: 1px solid #ffcc00;
  align-items: center;
}
.icons {
  // width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 50px;
}
.discription {
  text-align: center;
  color: #333333;
}
.button {
  background-color: white;
  border: 1px solid #ffcc00;
  margin-top: 30px;
}
.button-name {
  font-family: "open sans";
  text-transform: uppercase;
  font-weight: 700;
  line-height: 14px;
  color: #666666;
  padding: 5px 10px 5px 10px;
}
.dotted-line {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 20px;
 }
.first-space,
.third-space {
  width: 10px;
  height: 4px;
  background-color: #ffcc00;
}
.second-space {
  width: 20px;
  height: 4px;
  background-color: #ffcc00;
}
