// blur
.element {
  position: relative;
  overflow: hidden;
  transition: all 0.35s linear;
}
.element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    360deg,
    #241f24 0%,
    rgba(91, 91, 91, 0.447552) 34.11%,
    rgba(187, 186, 192, 0.26) 62.5%
  );
  filter: blur(8px);
}


