span {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0em;
  color: #ffffff;
}
.date {
  font-weight: 400;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #e0e0e0;
}
.author {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
