:root {
  /* colors */
  --c-primary: #FF9900;
  --c-white: #FFFFFF;
  --c-black: #2F281E;
  --c-brown: #544837;
  --c-border: #BCD0E5;

/* fonts */
--f-base: 'Montserrat', sans-serif;
--f-poppins: 'Poppins', sans-serif;

/* font sizes */

--fs-base: 16px;

/* height */
--h-header: 80px;
}
