.main {
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
  margin: 35px auto 35px auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* header */
.header {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 35px;
}
.header i {
  font-size: 27px;
}
/* block */

.block-list {
  display: flex;
  flex-wrap: wrap;
}

.block-list .block-item {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--c-font);
  font-size: var(--fs-base);
  width: 25%;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 4px;
  opacity: 0.7;
  transition: opacity 0.35s ease-in;
}

.block-list .block-item:hover {
  opacity: 1;
}

/* text position */
.block-item .city {
  display: block;
}
.block-item .weather-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* block colors */
.block-item:first-child {
  width: 50%;
  background-color: var(--c-blue);
}
.block-item:last-child {
  width: 100%;
  background-color: var(--c-violet);
}
.block-item:nth-child(9) {
  width: 50%;
  background-color: var(--c-pink);
}
.block-item:nth-child(2) {
  background-color: var(--c-marine);
}
.block-item:nth-child(3) {
  background-color: var(--c-purpur);
}
.block-item:nth-child(4) {
  background-color: var(--c-teracote);
}
.block-item:nth-child(5) {
  background-color: var(--c-orange);
}
.block-item:nth-child(6) {
  background-color: var(--c-yellow);
}
.block-item:nth-child(7) {
  background-color: var(--c-lightgreen);
}
.block-item:nth-child(8) {
  background-color: var(--c-grey);
}
.block-item:nth-child(10) {
  background-color: var(--c-green);
}
i {
  font-size: 42px;
}
/* footer */
.footer {
  font-size: 16px;
  margin-top: 35px;
}
/* cursor */
.block-item:hover {
  cursor: url(./assets/cursor.png), auto;
}
