.sign {
  width: 100%;
  border-color: opacity;
  background-color: var(--c-blue);
  color: var(--c-background);
  border-radius: 5px;
  height: 40px;
  margin-top: 20px;
}
.update {
  border-color: opacity;
  background-color: var(--c-blue);
  color: var(--c-background);
  border-radius: 5px;
  height: 40px;
  width: 150px;
  margin-top: 20px;
}
