* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400px;
  line-height: 22px;
  background-color: var(--c-body);
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: var(--c-secondary);
}
button {
  border: none;
}
a {
  text-decoration: none;
  color: var(--c-blue);
}
img {
  height: 100%;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  font: inherit;
  outline: none;
  width: 100%;
}
select:focus {
  border-color: var(--c-blue);
}
