:root {
  // colors
  --c-main: #545454;
  --c-header: #1c1c1c;
  --c-secondary: #969696;
  --c-blue: #007bff;
  --c-border: #e4e4e4;
  --c-hover: #bc3f3f;
  --c-background: #ffffff;
  --c-body: #f7f7f7;
}
