* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-size: 18px;
  text-align: center;
  width: 100%;
 }

img {
  width: 100%;
  /* text-align: center; */
}

nav {
  text-align: left;
}
.wrapper {
  max-width: 1000px;
  padding-left: 15px;
  padding-right:15px;
  margin: 0 auto;
 
 }

.header-wrapper {
text-align: center;
border-bottom: 1px solid #828282;
}

.header-list {
justify-content: center;
align-items: center;
display: flex;
gap: 20px
}

h1 {
 text-align: left;
}

.about {
  margin: 0 auto;
  max-width: 400px;
}

.block-header {
  padding-top: 100px;
}

/* SVG pictures */
.product-list {
display: flex;
justify-content: space-around;
margin-right: 95px;
margin-top: 50px;
margin-bottom: 100px;

}

.product-list:last-child {
margin-right:0px
}

.product-list img {
  max-width: 170px;;
}

/* buttom */
.email-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #070707;
  color: #fff;
  text-decoration: none;
  border-radius: 22px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 60px;
    }

  /* icons sm */
  .icons {
  display: flex;
  justify-content: space-between;
  padding-right: 300px;
  padding-left: 300px;
  padding-top: 40px;
    }
  .icons:last-child {
    margin-right: 0;
    }
    
  .icons img {
    max-width: 40px;
    margin-right: 40px;
  }