.card {
  display: flex;
  gap: 30px;

  &-text {
    line-height: 28px;
  }
}

.card .design {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #e5eaf4;
  height: 340px;
  width: 370px;
  padding: 40px;
  transition: fill 0.35s linear;

  &:hover {
    border-color: #3db370;

    .icon-border {
      fill: #52c29d;
    }
    .icon-darker {
      fill: #caeff2;
    }
    .icon-medium {
      fill: #e1f4f5;
    }
    .icon-light {
      fill: #f4feff;
    }
  }
}

.card .ecom {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #e5eaf4;
  height: 340px;
  width: 370px;
  padding: 40px;
  transition: fill 0.35s linear;

  &:hover {
    border-color: #3db370;

    .icon-border {
      fill: #52c29d;
    }
    .icon-darker {
      fill: #caeff2;
    }
    .icon-medium {
      fill: #e1f4f5;
    }
    .icon-light {
      fill: #f4feff;
    }
  }
}
.card .app {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #e5eaf4;
  height: 340px;
  width: 370px;
  padding: 40px;
  transition: fill 0.35s linear;

  &:hover {
    border-color: #3db370;

    .icon-border {
      fill: #52c29d;
    }
    .icon-darker {
      fill: #caeff2;
    }
    .icon-medium {
      fill: #e1f4f5;
    }
    .icon-light {
      fill: #f4feff;
    }
  }
}
