.mini {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 12px solid #f1f1f1;
  background-color: #480e63;
  position: absolute;
}
.mini-top {
  top: 0px;
  left: 300px;
}
.mini-top:hover {
  transform: translateY(50px);
}
.mini-bottom {
  bottom: 0px;
  left: 300px;
}
.mini-bottom:hover {
  transform: translateY(-50px);
}
.mini-topright {
  top: 95px;
  right: 95px;
}
.mini-topright:hover {
  transform: translate(-25px, 25px);
}
.mini-right {
  top: 300px;
  right: 0px;
}
.mini-right:hover {
  transform: translateX(-50px);
}
.mini-bottomright {
  bottom: 95px;
  right: 95px;
}
.mini-bottomright:hover {
  transform: translate(-25px, -25px);
}
.mini-bottomleft {
  bottom: 95px;
  left: 95px;
}
.mini-bottomleft:hover {
  transform: translate(25px, -25px);
}
.mini-left {
  top: 300px;
  left: 0px;
}
.mini-left:hover {
  transform: translateX(50px);
}
.mini-topleft {
  top: 95px;
  left: 95px;
}
.mini-topleft:hover {
  transform: translate(25px, 25px);
}
