.banner {
  width: 100%;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 100px);
  margin-bottom: 90px;
  position: relative;
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  max-width: 770px;
  padding-top: 30px;

  @media screen and (max-width: 768px) {
    font-size: 36px;
  }

  @media screen and (max-width: 320px) {
    font-size: 30px;
  }
}
