.frame {
  position: relative;
  max-width: 400px;
  max-height: 400px;
  margin: 70px 85px 70px 15px;

  &-corner {
  width: 100px;
  height: 100px;
}
.top-left {
  top: 0;
  left: 0;
  border-left: 1px solid #ffcc00;
  border-top: 1px solid #ffcc00;
  position: absolute;
}
.top-right {
  top: 0;
  right: 0;
  border-top: 1px solid #ffcc00;
  border-right: 1px solid #ffcc00;
  position: absolute;
}
.bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #ffcc00;
  border-right: 1px solid #ffcc00;
  position: absolute;
}
.bottom-left {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ffcc00;
  border-left: 1px solid #ffcc00;
  position: absolute;
}
}